body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #2d3c49;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 10px;
}

h2 {
  color: #4c5a65;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
}

.header {
  border-bottom: 4px solid #7d97ad;
}

.udacity-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  background: url(../img/udacity-logo.png) center no-repeat;
  background-size: auto 100%;
}

.short-info {
  text-align: right;
  text-transform: uppercase;
  padding: 10px 0 14px 100px;
}

.main-image {
  width: 100%;
  margin-top: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 30%;
  display: block;
  text-decoration: none;
  color: #2d3c49;
  margin-bottom: 20px;
}

@media screen and (max-width: 412px) {
  .project {
    width: 100%;
  }
}

@media screen and (min-width: 413px) and (max-width: 768px) {
  .project {
    width: 48%;
  }
}

.project-image {
  width: 100%;
}

.project-title {
  text-transform: uppercase;
  color: #2d3c49;
  text-align: center;
  font-size: 20px;
}

.project-link {
  text-align: center;
  word-break: break-word;
}
