body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2d3c49;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  color: #7d97ad;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
}

.udacity-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(../img/udacity-logo.png);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.short-info {
  text-align: right;
  text-transform: uppercase;
}

.header hr {
  border-width: 2px;
  border-style: solid;
  border-color: #7d97ad;
}

.main-image {
  width: 100%;
  margin-top: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 30%;
  display: block;
  text-decoration: none;
  color: #2d3c49;
  margin-bottom: 20px;
}

@media screen and (max-width: 412px) {
  .project {
    width: 100%;
  }
}

@media screen and (min-width: 413px) and (max-width: 768px) {
  .project {
    width: 48%;
  }
}

.project-image {
  width: 100%;
}

.project-title {
  text-transform: uppercase;
  color: #2d3c49;
  text-align: center;
}

.project-link {
  text-align: center;
}
